/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}



/* Your code starts here! */

#serviceslist {
    list-style: square;
    list-style-position: inside;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Navigation */
.main-header .navbar {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.main-header .navbar ul {
	margin: auto 0;
	display: flex;
	justify-content: space-evenly;
	font-size: 10%;
	width: 80%;

}

.main-header {
    display: flex;
    flex-direction: column;
}

.main-header .navbar ul li {
  padding: 0 20px;
}

.main-header .navbar ul li a {
  color: #ccc;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}

.logo {
  margin-left: 35%;
}

/* Hero section */

#border {
	border: solid grey .4px;
	margin: 1%;
	margin-top: 4%;
	width: 70%;
	margin-left: 15%;
	display: flex;
}

#headerarea {
	display: flex;
	justify-content: center;
	padding: 1%;
    margin: 2%;
}
#heroarea {
	display: flex;
	flex-direction: row;
	justify-content: center;
    width: 100%;
}
.main-header .caption {
  text-align: center;
}

.main-header .caption h1 {
  font-size: 75px;
  padding: 5px;
  margin: 10% 0 2% 10%;
}

.main-header .caption a {
  padding: 0 20px 0 20px;
  border: #333 1px solid;
  color: #333;
  text-decoration: none;
  margin: 0 0 0 16%;
  font-size: 20px;
}

.main-header .header-img {
	margin: auto;
}

/* Content section */

.contentsection .content-box-top {
   max-width: 500px; 
   margin: 2% 0 2% 8%;
   padding: 20px;
}

.content-section .content-box h1 {
  font-size: 30px;
}

.content-section .content-box p {
  font-size: 18px;
}

.content-section .middle-img {
  width: 100%;
  size: 50%;
}

.content-section .content-box-bottom {
  max-width: 300px;
  padding: 20px;
}

#toppart {
	display: flex;
	justify-content: space-around;
	padding: 3%;
}

#bottompart{
	display: flex;
	justify-content: space-between;
}

/* Footer */
footer h1 {
  margin-top: 2%;
}

/* Margin-bottom */
footer p {
  margin-bottom: 2%;
}

footer .copyright {
  text-align: center;
}

/*
				S E R V I C E S  W E B S I T E
*/

.servicesbody {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 3%;
}

#services-border {
	border: solid black .4px;
	margin: 1%;
}

.servicestitle {
	display: flex;
	justify-content: flex-start;
}

#servicesheader {
	display: flex;
	flex-direction: column;
}

#servicesnav {
	display: flex;
	justify-content: space-around;
	flex-basis: 80%;
	align-items: center;
	padding: 2%;

}

#servicesdiv {
	display: flex;
}
#servicesdiv img{
	justify-content: flex-end;
	align-items: center;
}
.servicesbody img {
	margin: auto;
}

.servicesbody a {
	text-decoration: none;
	color: silver;
}

#servicestitle {
	font-size: 180%;
}

#servicesheadertext {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 1%;
}

.smc{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: 110%;
	align-content: space-around;
}

#dd{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	border: solid black .5px;
	padding: 1.5%;
	width: 45%;
	margin: 1%;
	
}
#dd2{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	width: 45%;
	margin: 1%;
	padding: 1.5%;
	border: solid black .5px;
}

#dd3{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	width: 45%;
	margin: 1%;
	padding: 1.5%;
	border: solid black .5px;
}

#dd4{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	width: 45%;
	margin: 1%;
	padding: 1.5%;
	border: solid black .5px;
}

#dd5{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	width: 45%;
	margin: 1%;
	padding: 1.5%;
	border: solid black .5px;
}

#dd6 {
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	width: 45%;
	margin: 1%;
	padding: 1.5%;
	border: solid black .5px;
}

#bd {
	width: 10%;
}

.sf {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1%;
}

#facts {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 45%;
	font-size: 110%;
}

#factsimage {
	display: flex;
}


h6 {
	display: flex;
	justify-content: center;
	font-weight: bold;
	margin: 5%;
	padding-bottom: 4%;
}

.smc .learnmore {
	flex: display;
	width: 30%;
	padding: 2%;
	margin: 2%;
	background: white;
	border: solid black .5px;
	justify-content: center;
	border-radius: 5px;
	font-size: 80%;

}

@media (max-width: 800px) {


	.navbar {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.navbar ul {
		text-align: center;
	}
	#logo {
		margin-bottom: 10%;
		display: flex;
		margin-right: 15%;
	}
	#pic {
		display: none;
	}
}

@media (max-width: 500px) {
	.navbar ul {
		display: flex;
		flex-direction: column;
	}

	.navbar a {
		display: flex;
		justify-content: center;
		align-content: space-between;
		margin: 4%;
		padding: 4%;
	}

	.linkborder {
		border: solid grey .4px;
		width: 100%;
		margin-right: 560px;
	}

	#about {
		border-bottom: solid grey .4px;
	}
	#contact {
		border-bottom: solid grey .4px;
	}
	#bottompart {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-self: center;
		flex-basis: 100%;
	}
	.content-section .content-box-bottom {
		display: flex;
		flex-direction: column;
	}

	.content-section .content-box-bottom p{
		width: 150%;
	}
	#toppart {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 3%;
	}

	h1 {
		margin: 3%;
	}
	#logo {
		display: flex;
		justify-content: center;
	}

	.caption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-right: 15%;
	}

	.copyright {
		margin: 6%;
	}
}